:root {
    --main-color: #A97F40;
    --second-color: #157347;
}

body {
    background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55, #141e30);
    background: linear-gradient(to right, #243b55, #141e30);
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header img {
    width: 12%;
}

#Contact .box {
    background: #ada996;
    background: -webkit-linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    border-radius: 20px;
    width: 500px;
    margin: auto;
    position: relative;
}

#Contact .clear {
    background-color: #AFAB98;
    position: absolute;
    padding: 5px 5px 5px 10px;
    top: 20px;
    right: -13%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#Contact .clear button {
    padding: 10px;
}

#Contact .box input.success {
    background-color: #8cf8c6;
}

#Contact .box input.valid {
    background-color: #eeb8b8;
}

#Contact .box i.back {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#Contact .box h4,
i {
    color: var(--main-color);
}

#Search {
    width: 320px;
    margin: auto;
}

#Search i {
    color: #A97F40;
}

#Results .student-table {
    width: 100%;
    overflow-x: auto;
}

#Results .student-table table {
    border-radius: 5px;
    overflow: hidden;
    min-width: max-content;
}

#Results .student-table table tbody {
    transition-duration: 0.5s;
}

/* *popup delete student */
div.delete {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
    padding: 0;
    transform: translateY(-100px);
    opacity: 0;
    transition-duration: 0.5s;
    pointer-events: none;
    z-index: 100;
}

div.delete.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: initial;
}

div.delete .box {
    background-color: #141e30;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.delete .box img {
    width: 20%;
    margin-bottom: 16px;
}

div.delete .box .buttons {
    width: fit-content;
}